:root {
  --bg-yellow-50: #fffbeb;
  --bg-yellow-100: #feffc7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  background: #4f4faa;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  /* color: var(--title-color); */
}

.rounded-content {
  border-radius: 50px 50px 0 0;
}
